/* http://paletton.com is great for picking colors */
.sidebar-middle-container {
    background-color: #990000;
}
/*
.dm-list {
    background-color: #DA8035;
}
*/
div#cwc_header {
    background-color: #990000;
}
body {
    color: #FFFFFF;
    background-color: #990000;
    white-space: nowrap;
}
h2 {
    text-decoration: underline;
}
/*
a {
    color: #FFFFFF;
    text-decoration: none;
}
*/

